$colores:(
    primario: #044204,
    secundario:#055c18,
    terciario:#7a6330,
    footer:#9b6836
);

$tipografias:(
    principal: 24px,
    secundaria: 20px,
    terciaria: 16px,

);

%titulos{
    margin-left: 20px;
    margin-bottom: 100px;
};

@mixin font ($font-size, $color){
    font-size:$font-size;
    color:$color;
}
    

    
    








    

